<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title> Game Startup </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='game_page.css')}}" />
    </head>
    <body>
        <div class="container">
            <div class="content">
                <p id="intro">
                    Welcome to WordMaster, a web based word guessing game!
                    <br />
                    Please select a difficulty level:
                </p>
                <br />
                <form id="setup" action="{{ url_for('execute') }}" method="POST">
                    <select id="choice" name="choice">
                        <option disabled selected value="0"> None </option>
                        <option value="6"> Recruit (6 tries) </option>
                        <option value="5"> Regular (5 tries) </option>
                        <option value="3"> Heroic (3 tries) </option>
                        <option value="2"> Veteran (2 tries) </option>
                    </select>
                    <br />
                    <br />
                    <button id="nxt" name="nxt" type="submit"> Next </button>
                    <br />
                </form>
            </div>
                <footer>
                    Created using Flask & Python | Avik Roy Choudhury
                </footer>
        </div>
    </body>
</html>
