<html>
    <head>
        <meta name="viewport" content="width=device-width,initial-scale=1.0">
        <title> Start Game </title>
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styled_buttons.css')}}" />
        <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='game_page.css')}}" />
    </head>
    <body style="background-color: rgb(0, 30, 0);">
        <div id="instructions">
            <p style="text-decoration: underline; font-size: 20px; font-family: monospace;">INSTRUCTIONS</p><br />
            <p id="points">
                * This is an open source web based word guessing game made in Python <br />
                * This game contains four difficulty levels <br />
                * There are 10 rounds for all difficulty levels <br />
                * +10 for each correct guess and 0 for a wrong guess <br />
                * Hope you enjoy :D <br />
            </p>
        </div>
        <form action="{{ url_for('setup') }}" method="POST">
            <div class="wrap">
                <button class="button" type="submit"> START </button>
            </div>
        </form>
    </body>
</html>
